<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <title>À propos du service de gestion des patients - Hôpital Merve</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>

<body>
<div layout:fragment="content1" class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">À propos du service de gestion des patients</h2>
            <p>L'Hôpital Merve propose un service de gestion des patients moderne et efficace, conçu pour simplifier et améliorer l'expérience des patients ainsi que des professionnels de la santé.</p>
            <p>Notre système de gestion des patients offre une solution complète pour la gestion des dossiers médicaux, la planification des rendez-vous, la coordination des traitements et bien plus encore. Grâce à une interface conviviale et intuitive, les patients peuvent facilement accéder à leurs informations médicales, prendre des rendez-vous en ligne et communiquer avec leur équipe de soins.</p>
            <p>Pour les professionnels de la santé, notre système de gestion des patients offre des fonctionnalités avancées telles que la gestion centralisée des dossiers patients, la planification des ressources, la facturation et la génération de rapports. Cela permet d'optimiser les opérations, d'améliorer la coordination des soins et d'offrir une expérience de soins plus personnalisée.</p>
            <div class="text-center mt-4">
                <h4>Contactez-nous</h4>
                <p>Si vous souhaitez en savoir plus sur notre service de gestion des patients ou planifier une démonstration, n'hésitez pas à nous contacter :</p>
                <p>Téléphone: +212 123 456 789</p>
                <p>Email: info@hopitalmerve.com</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
