<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <title>Profil - Hôpital Merve</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>

<body>
<div layout:fragment="content1" class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Profil</h2>
            <p>Bienvenue sur votre profil utilisateur.</p>
            <p>Ici, vous pouvez consulter et mettre à jour vos informations personnelles.</p>
            <div class="text-center">
                <a href="#" class="btn btn-primary">Modifier le profil</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>
